<!-- Content Erstellung-->
<content>
    <div class="contentText"> 
        Herzlich willkommen bei Clothgatherers,<br>
        den ersten, die ihr Handwerk auch verstehen.<br><br>
        Ihre Spenden helfen nicht nur bedürftigen Menschen,<br>
        sondern tragen auch zu einer nachhaltigeren Welt bei.<br>
        Jeder Beitrag zählt und macht einen Unterschied, selbst wenn er noch so klein ist.<br>
        Gemeinsam können wir Gutes tun und Freude verbreiten.<br><br><br>
    
        <div class="dank">
        <b>Vielen Dank für Ihre Unterstützung!</b>

        <a routerLink="/formular"><button class="hovermode buttonStyleHeader">Zum Kleiderspende-Formular!</button></a>
        </div>
    </div>

  
</content>