<header>
    
    <nav>
        
            
        <a routerLink="/content" class="pointer"><button class="hovermode buttonStyleHeader">Startseite</button></a>                <!-- Verlinkung zum Content-->
        <a routerLink="/formular" class="pointer"><button class="hovermode buttonStyleHeader">Kleiderspende-Formular</button></a>   <!-- Verlinkung zum Formular-->
           
      
    </nav>
    <!-- Logo in Verbindung mit Titel (alternativ könnte <h1></h1> verwendet werden, Designtechnisch wurde die Kombination gewählt) -->
    <img class="logoPicture" src="assets/LogoMitText.JPG">

</header>