<header>
    
    <nav>
        <!-- Verlinkung zum Content-->    
        <a routerLink="/content" class="pointer"><button class="hovermode buttonStyleHeader">Startseite</button></a>
        <!-- Verlinkung zum Formular-->                
        <a routerLink="/formular" class="pointer"><button class="hovermode buttonStyleHeader">Kleiderspende-Formular</button></a>   
    </nav>
    <!-- Titel -->
    <h1>Wir spinnen die Fäden</h1>
    <!-- Logo in Verbindung mit dem Vereinsname -->
    <img class="logoPicture" src="assets/LogoMitText.JPG">

</header>