header{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);          /* Fügt einen Schatten um den Header hinzu */
    background-color: rgba(0, 0, 0, 0.1);             /* Setzt eine Hintergrundfarbe */
    display: flex;                                      /* Flex Darstellung für ein Responsives Design */
    flex-direction: column;                             /* Elemente untereinander anordnen */
    justify-content: center;                            /* Zentriert die Inhalte innerhalb des Headers vertikal */
    text-align: center;                                 /* Zentriert den Text horizontal */

}

