header{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;              /* Flex Darstellung für ein Responsives Design */
    flex-direction: column;     /* Elemente untereinander anordnen */
    justify-content: center;
    

}

