<div class="confirmationLocal">
    <h1 class="zTG"> Registrierung erfolgreich </h1><br>

    <!-- Stellt eingegeben Informationen dar-->
    <div>{{ formularDetailsKleidung }}</div>
    <div>{{ formularDetailsGebiet }}</div><br>
    <b>Geschäftsstelle Clothgatherers</b>
    <div>{{ geschaeftsstellePLZ }}</div>
    <div>{{ geschaeftsstelleStr }}</div><br>
    <div>Datum: {{ aktuellesDatum }}</div>
    <div>Uhrzeit: {{ aktuelleUhrzeit }}</div>
    <div class="zTB"> 
        Vielen Dank für Ihre Spende!<br>
        Bitte legen Sie die Spende in den neben Ihnen befindlichen<br>
        Sammelbehälter.
    </div>
</div> 
