<div class="confirmation">
    <h1 class="zTG"> Registrierung erfolgreich </h1>

<!-- Stellt eingegeben Informationen dar-->
    <div>{{ formularDetailsKleidung }}</div> 
    <div>{{ formularDetailsGebiet }}</div>
    <div>{{ formularDetailsPLZ }}</div>
    <div>{{ formularDetailsStrasse }}</div>
    <div>Datum: {{ aktuellesDatum }}</div>
    <div>Uhrzeit: {{ aktuelleUhrzeit }}</div>
    <div class="zTB"> 
        Vielen Dank, für Ihre Spende!<br>
        Wir werden uns demnächst mit Ihnen in Verbindung setzen,<br>
        um Sie bezüglich des genauen Abholdatums zu informieren.
    </div>
</div> 

