.hovermode{
    
    &:hover{
        background-color: rgba(0 , 0, 0, 0.5);
        cursor: pointer;
    }
}
.buttonStyle{
    position: relative;    
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .buttonStyleHeader{
    position: relative;
    width: 50%;
    height: 30px;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    }

    .logoPicture {
        width: auto;                              /* Breite automatisiert */
        height: auto;                             /* Höhe automatisiert */
        margin: auto;                             /* Zentriert das Bild horizontal */
        display: flex;                            /* Flexbox für den Container */
        justify-content: center;                  /* Horizontale Zentrierung */
        align-items: center;                      /* Vertikale Zentrierung */
    }
    

    //Responsives Design
    @media (max-width: 768px) {                  /* Media Query für Bildschirme mit einer maximalen Breite von 768 Pixeln */

        .logoPicture {
            width: 100%;                         /* Verwendet 100% für die Breite */
            height: auto;                        /* Höhe automatisch anpassen */
            margin: 16px auto;                   /* Fügt oben und unten einen Abstand von 16 Pixeln hinzu und zentriert das Bild horizontal.*/
            display: flex;                       /* Flexbox für den Container */
            justify-content: center;             /* Horizontale Zentrierung */
            align-items: center;                 /* Vertikale Zentrierung */
        }
    
        .buttonStyle {
            width: 100%;                         /* Verwendet 100% für die Breite */
            height: auto;                        /* Höhe automatisch anpassen */
        }
    
        .buttonStyleHeader {
            width: 100%;                         /* Verwendet 100% für die Breite */
            height: auto;                        /* Höhe automatisch anpassen */
        }
    }       
   